# DataScienceEcosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

##### Objectives:
- List popular languages for Data Science.
- List popular Libraries used in Data Science.
- List popular tools for Data Science.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Numpy
3. Tensorflow
4. GGplota

### Data Science Tools:
- Jupytar Lab
- Jupyter Notebooks
- IBM watson studio

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5

17

#### This a simple arithmetic expression to mutiply then add integers

### This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
Mahmoud Helmy Sayed